#fixed_Layer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 40px;
  z-index: 999;
}

#arrow {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
#arrow:hover {
  background-color: #99999966;
  cursor: pointer;
}
#arrow * {
  stroke: #666666;
}
